.row
  .twelve.columns
    %h1 Tixstr Movies

.row
  .eight.columns
    -@movies.each do |movie|
      .movie
        .row
          .two.columns
            %img= image_tag(movie.image)
          .ten.columns
            .title= link_to(movie.title, movie_path(movie.id))
            %div
              %div Available At:
              %ul
                -movie.theaters.each do |theater|
                  %li
                    %span= link_to(theater.name, theater_path(theater.id))
                    -if @current_user.present?
                      %span= link_to("Buy Tickets", theater_path(theater.id), :class => "button radius tiny")
                    -else
                      %span= link_to("Buy Tickets", theater_path(theater.id), :class => "button radius tiny disabled")

  .four.columns
